Chapter 02. 파이썬의 기본 문법

In [3]:
# ex 2-1
a = 20
b = 30
c = a+b
print(c)

50

In [7]:
# ex 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
data2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, data2)

20 Mac 30 70 홍길동 1997 20.3

In [9]:
# ex 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [10]:
# ex 2-5
x = 3.3764
y = 6.2
print(x, y)
print(type(x), type(y))

3.3764 6.2
<class 'float'> <class 'float'>

In [11]:
# ex 2-6
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [21]:
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [22]:
# ex 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)

15

In [23]:
# ex 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [25]:
# ex 2-18
eng = 80
result = '영어 점수 : ' + eng + '점'
print(result)

TypeError: can only concatenate str (not "int") to str

In [26]:
# ex 2-19
eng = 80
result = '영어 점수 : ' + str(eng) + '점'
print(result)

영어 점수 : 80점

In [27]:
# ex 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d' % (year, month, day)
print(a)

2020-03-05

In [29]:
# ex 2-23
height = 172.5
a = '키는 %.2f입니다.' % height

print(a)

키는 172.50입니다.

In [31]:
height = 172.5
a = '키는 %10.2f입니다.' % height

print(a)

키는     172.50입니다.

In [32]:
# ex 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [36]:
# 문자열 메소드
x = 'I am happy!'
x.count('am')

1

In [37]:
x.find("happy")

5

In [39]:
x.upper()

'I AM HAPPY!'

In [41]:
x.replace('am', 'was')

'I was happy!'

In [44]:
x.split(' ')

['I', 'am', 'happy!']

In [45]:
x.isspace()

False