In [14]:
# ex 5-1
fruits = ['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
list1 = [5, 10.2, '탁구', True, [4, 5, 6]]
numbers = list(range(1, 10, 2))

print(fruits)
print(list1)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['감', '키위']
['키위', '멜론', '수박']

In [15]:
# ex 5-2
a = ['red', 'green', 'blue']
a.append('yellow')
print(a)

a.insert(1, 'black')
print(a)

b = ['purple', 'white']
a.extend(b)
print(a)

c = a + b
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [16]:
# ex 5-3
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
x = a.index(30)
print(x)

a.pop(x)     # del a[x]와 동일
print(a)

a.remove(90)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 40, 50, 60, 70, 80, 100]
[]

In [18]:
# ex 5-4
list1 = ['a', 'bb', 'c', 'd','aaa', 'c', 'ddd', 'aaa',  'b', 'cc', 'd', 'aaa', ]
length = list1.count('aaa')

print(length)

3

In [19]:
# ex 5-5
list2 = [-7, 1, 5, 8, 3, 9, 11, 13]
list2.sort()
print(list2)

list2.sort(reverse=True)
print(list2)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [21]:
a = [1, 2, 3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
# ex 5-6
fruits = ['apple', 'orange', 'banana']

for fruit in fruits :
    print(fruit)

apple
orange
banana

In [37]:
# ex 5-7 합계와 평균
scores = [88, 75, 90, 95, 77, 69, 80, 92]
sum = 0
for score in scores:
    sum += score
print(sum, sum/len(scores))

666 83.25

In [38]:
numbers = [[10, 20, 30], [40, 50, 60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])

print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

In [39]:
print(len(numbers))
print(len(numbers[0]))

2
3

In [40]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], \
          [90, 76, 91], [82, 66, 88], [83, 86, 79], [85, 90, 83]]

for i in range(len(scores)) :
    sum = 0
    for j in range(len(scores[i])) :
        sum = sum + scores[i][j]

    avg = sum/len(scores[i])

    print('%d번째 학생의 합계 : %d, 평균 : %.2f' % (i+1, sum, avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [43]:
for i in range(1, 6):
    a.append(i*i)
print(a)

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [44]:
a = [i * i for i in range(1, 6)]
print(a)

[1, 4, 9, 16, 25]

In [46]:
b = [i * i for i in range(1, 10) if i % 2 == 1]
print(b)

[1, 9, 25, 49, 81]

In [48]:
b = [i * i for i in range(1, 10, 2)]
print(b)

[1, 9, 25, 49, 81]

In [50]:
gugudan = [i * k for i in range(2, 10) for k in range(1, 10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [53]:
'I love you.'.split(' ')

['I', 'love', 'you.']