# Chapter 06. Tuple과 Dictionary

In [ ]:
# ex 6-1
menu = ('coffee', 'milk', 'tea', 'cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola' # read only

In [ ]:
# ex 6-2
tuple1 = ("apple", "banana", "cherry")
tuple2 = ("orange", "melon", "strawberry")

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
# tuple 만들기
# odds = (1, 3, 5, 7, 90)
odds = tuple(range(1, 10, 2))
print(odds)

In [ ]:
# 표현식 (1, 4, 9, 16, 25)
squares = tuple(i * i for i in range(1, 6))
print(squares)

In [ ]:
# 표현식 (1, 4, 9, 16, 25)
odds_squares = tuple(i * i for i in range(1, 10) if i % 2 == 1)
print(odds_squares)

In [ ]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)

In [ ]:
print(100 not in a)
print(30 not in a)

In [ ]:
1 in range(10)

In [ ]:
15 not in range(10)

In [ ]:
43 in (38, 43, 46)

In [ ]:
print((1, 2, 3) + (10, 20, 30))
print('Hello'+' ' + 'world!')

In [ ]:
range(1, 10) + range(10, 20)

In [ ]:
tuple(range(1, 10)) + tuple(range(10, 20))

In [ ]:
'python' + str(3)

In [ ]:
# 시퀀스 객체 반복하기
print([1, 2, 3] * 3)
print(3 * [1, 2, 3])

In [ ]:
list(range(1, 5)) * 3

In [ ]:
a = (11, 22, 33, 44 ,55, 66, 77, 88, 99)
print(a[0:9:4])
print(a[::4])

In [ ]:
numbers = {'names': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

print(numbers)
print(numbers['names'])

In [ ]:
# ex 6-4
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

In [ ]:
# ex 6-5

phones = {'갤럭시 노트8': 2017,  '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
print(phones)

for key in phones :
    print('%s => %s' % (key, phones[key]))

print(len(phones))

In [ ]:
lux = dict(health:490, helpth:800, mana:334)

In [ ]:
fruits = {'orange', 'orange', 'cherry'}
fruits
type(fruits)

# Chapter 07. 함수

In [ ]:
# ex 7-1
def hello() :
    print('안녕하세요.')
    
hello()

In [ ]:
def even_odd(num) :
    if num % 2 == 0 :
        print('%d은(는) 짝수이다.' % num)
    else :
        print('%d은(는) 홀수이다.' % num)

even_odd(7)
even_odd(16)

In [ ]:
# ex 7-3
def favorate_color(name, color, amount) :
    if (amount == 1) :
        print('%s님은 %s을 좋아하지 않습니다.' % (name, color))
    elif (amount == 2) :
        print('%s님은 %s을 조금 좋아합니다.' % (name, color))
    else :
        print('%s님은 %s을 매우 좋아합니다.' % (name, color))

favorate_color('김지영', '빨강', 1)
favorate_color('홍채영', '노랑', 2)
favorate_color('진소진', '파랑', 3)

In [ ]:
# ex 7-4
def average(*scores) :
    sum = 0
    for i in range(len(scores)) :
        sum += scores[i]
    
    avg = sum/len(scores)
    print('%d과목의 평균 : %.2f' % (len(scores), avg))

average(80, 90, 100)
average(75, 80, 94, 78)
average(80, 73, 76, 86, 82)

In [ ]:
# ex 7-7
def circle_area(r) :
    area = r * r * 3.14
    
    return area

radius = int(input('원의 반지름을 입력하세요 : '))
result = circle_area(radius)
print('반지름 : %d, 원의 면적 : %.2f' % (radius, result))

In [ ]:
def new_circle(r) :
    area = r * r * 3.14
    circum = 2 * 3.14 * r
    return area, circum

In [ ]:
radius = int(input('원의 반지름을 입력하세요 : '))
res1, res2 = new_circle(radius)
print('radius %d, area %.2f, circum %.2f' % (radius, res1, res2))

In [ ]:
# Q 7-1 함수로 정수 합계 구하기
def sum(start, end) :
    total = 0
    for i in range(start, end+1) :
        total += i
    print('%d ~ %d의 정수 합계 : %d' % (start, end, total))
    
sum(10, 100)
sum(100, 1000)
sum(1000, 10000)

In [1]:
# Q 7-2 함수로 배수 합계 구하기
def sum_multiple(n1, n2, num) :
    sum = 0
    for i in range(n1, n2+1) :
        if i % num == 0 :
            sum += i

    return sum

start = int(input('시작 수를 입력하세요: '))
end = int(input('끝 수를 입력하세요: '))
multiple = int(input('합계를 구할 배수를 입력하세요: '))

result = sum_multiple(start, end, multiple)

print('%d ~ %d의 정수 중 %d의 배수의 합 : %d' % (start, end, multiple, result))

시작 수를 입력하세요: 10
끝 수를 입력하세요: 20
합계를 구할 배수를 입력하세요: 5
10 ~ 20의 정수 중 5의 배수의 합 : 45

In [2]:
def computeMaxGong(x, y):
    if x > y:
        small = y
    else:
        small = x
        
    for i in range(1, small+1):
        if((x % i == 0) and (y % i == 0)):
            result = i
    return result

num1 = int(input("첫 번째 수를 입력하세요: "))
num2 = int(input("두 번째 수를 입력하세요: "))

max_gong = computeMaxGong(num1, num2)

print('%d과(와) %d의 최대공약수 : %d' % (num1, num2, max_gong))

첫 번째 수를 입력하세요: 10
두 번째 수를 입력하세요: 35
10과(와) 35의 최대공약수 : 5

In [5]:
# 1부터 10000사이의 완전수
def divisor(x):
    sum = 0
    for i in range(x-1):
        if i % x == 0:
            sum = sum + x

for x in range(10001):
    divisor(x)
    if (sum == x):
        print(sum)
    sum = 0

In [19]:
def divisor(x):
    sum = 0
    for i in range(1, x):
        if (x % i == 0):
            sum = sum + i
    return sum


for x in range(3, 10001):
    if (sum == divisor(x)):
        print(sum)

6
28
496
8128

In [20]:
# ex 7-10
def func() :
    x = 10
    print(x)

func()
print(x)

10
10000

In [21]:
# ex 7-11
def func() :
    print(x)
    print(id(x))
    
x = 10
print(x)
print(id(x))
func()

10
140729567453872
10
140729567453872

In [22]:
# ex 7-12
def func() :
    x = 100
    print(x)
    print(id(x))
    
x = 10
print(x)
print(id(x))

func()

print(x)
print(id(x))

10
140729567453872
100
140729567456752
10
140729567453872

In [23]:
# ex 7-13
def func() :
    global x
    x = 100
    print(x)
    print(id(x))
    
x = 10
print(x)
func()
print(x)
print(id(x))

10
100
140729567456752
100
140729567456752

In [24]:
# ex 7-14

file = open('sample.txt', 'w', encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [25]:
scores = ['김소영 82 80 93 97 93 88',
           '정예린 86 100 93 86 90 77',
           '이세영 91 88 99 79 92 68',
           '정수정 86 100 93 89 92 93',
           '박지수 80 100 95 89 90 84']
data = ''
for item in scores :
    data += item + '\n'

# 화면 출력하기    
print(data)

# 파일(scores.txt)에 저장하기
file = open('scores.txt', 'w', encoding='utf8' )
file.write(data)
file.close()

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [26]:
file = open('scores.txt', 'r', encoding='utf8')
lines = file.readlines()

print('scores.txt 파일의 내용 : ')
for line in lines :
    print(line, end='')
    
file.close()

scores.txt 파일의 내용 :
김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [ ]:
bvf