# SQLite3 훈련

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [3]:
type(conn)

sqlite3.Connection

In [5]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [6]:
rows

[(1, 22, '이태양', '투수'),
 (2, 13, '최재훈', '포수'),
 (3, 3, '노태형', '내야수'),
 (4, 19, '이용규', '외야수'),
 (5, 57, '정우람', '투수'),
 (6, 44, '서폴드', '투수'),
 (7, 27, '이해창', '포수'),
 (8, 43, '정은원', '내야수'),
 (9, 52, '김태균', '내야수'),
 (10, 10, '호잉', '외야수')]

In [9]:
cur.execute('SELECT * FROM eagles WHERE position="투수"')
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(5, 57, '정우람', '투수')
(6, 44, '서폴드', '투수')

In [13]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(1, '하주석', '내야수')")

In [14]:
conn.commit()

In [52]:
#파라메타 : 튜플 저장해서 연결

back_no = 25
name = '최진행'
position = '외야수'
sql = 'Insert Into eagles(back_no, name, position) Values(?, ?, ?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [22]:
#튜플 리스트 사용
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players:
    cur.execute(sql, player)
    conn.commit()

In [23]:
# executemany() 사용
players = [(48, '벨', '투수'), (54, '서균', '투수')]
cur.executemany(sql, players)
conn.commit()

In [25]:
# 순회 조회
sql = "select * from eagles where position='포수'"
cur.execute(sql)
for result in cur:
    print(result)

(2, 13, '최재훈', '포수')
(7, 27, '이해창', '포수')

In [32]:
# 한 건 조회 *****************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(2, 13, '최재훈', '포수')

In [33]:
result = cur.fetchone()
print(result)

(7, 27, '이해창', '포수')

In [35]:
# 갯수 지정 조회
sql = "select * from eagles where position='투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (5, 57, '정우람', '투수'), (6, 44, '서폴드', '투수')]

In [36]:
# 전부 조회*****************************************
sql = "select * from eagles where position='내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(3, 3, '노태형', '내야수'),
 (8, 43, '정은원', '내야수'),
 (9, 52, '김태균', '내야수'),
 (11, 1, '하주석', '내야수')]

In [37]:
# 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (57, '정우람'),
 (44, '서폴드'),
 (27, '이해창'),
 (43, '정은원'),
 (52, '김태균'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (54, '서균'),
 (25, '최진행')]

In [38]:
# 백넘버 30~39인 선수

sql = "select * from eagles where back_no between 20 and 29"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'), (7, 27, '이해창', '포수'), (16, 25, '최진행', '외야수')]

In [40]:
# 백넘버가 가장 큰 번호를 갖는 선수
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
result

(5, 57, '정우람', '투수')

In [42]:
# 포지션별 사람수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results= cur.fetchall()
results

[('내야수', 4), ('외야수', 3), ('투수', 7), ('포수', 2)]

# 데이터 검색

In [43]:
# back_no가 57번인 선수는?

In [46]:
sql = "select * from eagles where back_no = ?"
cur.execute(sql, (back_no,))
result = cur.fetchone()
result

(16, 25, '최진행', '외야수')

In [48]:
# id가 11인 하주석 선수의 포지션을 외야수로 변경
id_ = 11
position = '외야수' 
sql = "UPDATE eagles SET position = ? where id = ?"
cur.execute(sql, (position, id_))
conn.commit()

In [49]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id_,))
conn.commit()