# 연습문제 2번

In [198]:
# 내용 삭제
sql = 'DELETE FROM IDOL';

cur.execute(sql)
conn.commit()

In [207]:
# 내용 삭제
sql = 'DELETE FROM SONGS';

cur.execute(sql)
conn.commit()

In [164]:
# 테이블 삭제
sql = 'DROP TABLE IDOL'

cur.execute(sql)
conn.commit()

In [205]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('girl_group.db')

cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS EMPLOYEE")

with open('singers.csv') as file:
    csv_datas = []
    for line in file.readlines():
        csv_datas.append(line.split(','))
for i in range(0, len(csv_datas)):
    csv_datas[i][3] = csv_datas[i][3].replace("\n", "")
    csv_datas[i].append(i)
    
    
with open('songs.csv') as file:
    csv_datas = []
    for line in file.readlines():
        csv_datas.append(line.split(','))
for i in range(0, len(csv_datas)):
    csv_datas[i][4] = csv_datas[i][4].replace("\n", "")
    csv_datas[i].append(i)
                        
csv_datas

[['song', 'gid', 'year', 'composer', 'lyrics', 0],
 ['작은 것들을 위한 시', '1', '2019', 'Pdogg 외', '모든 게 궁금해 How’s your day', 1],
 ['FAKE LOVE', '1', '2018', 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어', 2],
 ['넌 is 뭔들', '2', '2016', '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너', 3],
 ['음오아예 (Um Oh Ah Yeh)',
  '2',
  '2015',
  '김도훈',
  'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아',
  4],
 ['HER', '4', '2014', '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러', 5],
 ['으르렁', '5', '2013', '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대', 6],
 ['MAMA',
  '5',
  '2012',
  '유영진',
  'Careless careless Shoot anonymous anonymous',
  7],
 ['CHEER UP',
  '6',
  '2016',
  '블랙아이드필승 외',
  'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내',
  8],
 ['TT', '6', '2016', '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해', 9],
 ['빨간 맛',
  '11',
  '2017',
  'Ludwig Lindell 외',
  '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛',
  10]]

In [166]:
sql = '''CREATE TABLE IDOL (
    id INT,
    name VARCHAR(20), 
    member_no VARCHAR(20), 
    debut DATE,
    company VARCHAR(20)
);
'''
cur.execute(sql)
conn.commit()

In [163]:
sql = '''CREATE TABLE SONGS (
    song_id INT,
    song_name VARCHAR(20), 
  gid INT,
  year INT,
  composer VARCHAR(20),
  lyrics VARCHAR(20)
);
'''
cur.execute(sql)
conn.commit()

In [199]:
sql = 'Insert Into IDOL(id, name, member_no, debut, company) Values(?, ?, ?, ?, ?)'
for i in range(1, len(csv_datas)):
    id_ = csv_datas[i][4]
    name = csv_datas[i][0]
    member_no = csv_datas[i][1]
    debut = csv_datas[i][2]
    company = csv_datas[i][3]
    cur.execute(sql, (id_, name, member_no, debut, company))
conn.commit()

In [208]:
sql = 'Insert Into SONGS(song_id, song_name, gid, year, composer, lyrics) Values(?, ?, ?, ?, ?, ?)'
for i in range(1, len(csv_datas)):
    song_id = csv_datas[i][5]
    song_name = csv_datas[i][0]
    gid = csv_datas[i][1]
    year = csv_datas[i][2]
    composer = csv_datas[i][3]
    lyrics = csv_datas[i][4]
    cur.execute(sql, (song_id, song_name, gid, year, composer, lyrics))
conn.commit()

In [213]:
sql ='''SELECT name, member_no, debut, song_name, year
    FROM IDOL INNER JOIN SONGS
    ON id = gid
''';

cur.execute(sql)
results = cur.fetchall()
results

[('방탄소년단', '7', '2013-06-13', 'FAKE LOVE', 2018),
 ('방탄소년단', '7', '2013-06-13', '작은 것들을 위한 시', 2019),
 ('마마무', '4', '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', '4', '2014-06-19', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('블락비', '7', '2011-04-15', 'HER', 2014),
 ('엑소', '9', '2012-04-08', 'MAMA', 2012),
 ('엑소', '9', '2012-04-08', '으르렁', 2013),
 ('트와이스', '9', '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', '9', '2015-10-20', 'TT', 2016)]

In [214]:
df = pd.DataFrame(results)

In [222]:
df.rename(columns={'a': 'b', 'c': 'd'}, inplace=True)

df.columns = ['그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도']
df

   그룹 이름 구성원 수       데뷔 일자                노래 이름  발표 년도
0  방탄소년단     7  2013-06-13            FAKE LOVE   2018
1  방탄소년단     7  2013-06-13          작은 것들을 위한 시   2019
2    마마무     4  2014-06-19              넌 is 뭔들   2016
3    마마무     4  2014-06-19  음오아예 (Um Oh Ah Yeh)   2015
4    블락비     7  2011-04-15                  HER   2014
5     엑소     9  2012-04-08                 MAMA   2012
6     엑소     9  2012-04-08                  으르렁   2013
7   트와이스     9  2015-10-20             CHEER UP   2016
8   트와이스     9  2015-10-20                   TT   2016